In [9]:
import pandas as pd 
import plotly.express as px
tabela = pd.read_csv("Bakery.csv")
display(tabela)

       TransactionNo          Items             DateTime    Daypart  DayType
0                  1          Bread  2016-10-30 09:58:11    Morning  Weekend
1                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
2                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
3                  3  Hot chocolate  2016-10-30 10:07:57    Morning  Weekend
4                  3            Jam  2016-10-30 10:07:57    Morning  Weekend
...              ...            ...                  ...        ...      ...
20502           9682         Coffee  2017-09-04 14:32:58  Afternoon  Weekend
20503           9682            Tea  2017-09-04 14:32:58  Afternoon  Weekend
20504           9683         Coffee  2017-09-04 14:57:06  Afternoon  Weekend
20505           9683         Pastry  2017-09-04 14:57:06  Afternoon  Weekend
20506           9684      Smoothies  2017-09-04 15:04:24  Afternoon  Weekend

[20507 rows x 5 columns]

In [39]:
#Total Produtos vendidos 

produtos = tabela["Items"].value_counts().sort_values(ascending=False).head(10)
display(produtos)

Coffee           5471
Bread            3325
Tea              1435
Cake             1025
Pastry            856
Sandwich          771
Medialuna         616
Hot chocolate     590
Cookies           540
Brownie           379
Name: Items, dtype: int64

In [23]:
#Horario que mais sai pedido
horario = tabela[["Daypart"]].value_counts()
display(horario)

Daypart
Afternoon    11569
Morning       8404
Evening        520
Night           14
dtype: int64

In [24]:
#Mais pedidos final de semana ou comeco de semana

semana = tabela[["DayType"]].value_counts()
display(semana)

DayType
Weekday    12807
Weekend     7700
dtype: int64

In [37]:
#Semana e horarios com numeros de vendas
semana = tabela.loc[tabela["DayType"] == "Weekday","Daypart"].value_counts()
display(semana)

Afternoon    7273
Morning      5174
Evening       356
Night           4
Name: Daypart, dtype: int64

In [38]:
#Final Semana e horarios com numeros de vendas
final_semana = tabela.loc[tabela["DayType"] == "Weekend","Daypart"].value_counts()
display(final_semana)

Afternoon    4296
Morning      3230
Evening       164
Night          10
Name: Daypart, dtype: int64

In [41]:
#Dias da semana que teve maior quantidade de vendas 
vendas = pd.to_datetime(tabela['DateTime'])
tabela['Day']= vendas.dt.day_name()
tabela['Month']= vendas.dt.month_name()
tabela['Year'] = vendas.dt.year
tabela.head(5)

dias_semana= tabela.groupby('Day')['Items'].count().sort_values(ascending=False)
display(dias_semana)

Day
Saturday     3554
Friday       3266
Sunday       3118
Monday       3035
Tuesday      2645
Thursday     2601
Wednesday    2288
Name: Items, dtype: int64

In [42]:
#Meses com maior quantidade de vendas 
mes_vendas = tabela.groupby("Month")["Items"].count().sort_values(ascending=False)
display(mes_vendas)

Month
March        3220
November     3076
January      3027
February     2748
December     2647
April        1048
October      1041
May           924
July          741
June          739
August        700
September     596
Name: Items, dtype: int64