In [9]:
#Dados cancelamentos de um serviço

import pandas as pd
file_path = r"C:\Users\Pichau\Documents\cancelamentos.csv"
tabela =pd.read_csv(file_path)  
tabela = tabela.drop(columns="CustomerID")


display(tabela)

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [2]:
#Tirando Valores vazios

tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

In [3]:
#Quantos Clientes Cancelou e Porcentagem

display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

1.0    499993
0.0    381666
Name: cancelou, dtype: int64

1.0    56.7%
0.0    43.3%
Name: cancelou, dtype: object

In [4]:
#Duracao do contrato

display(tabela["duracao_contrato"].value_counts())
display(tabela["duracao_contrato"].value_counts(normalize=True).map("{:.1%}".format))

Annual       354395
Quarterly    353059
Monthly      174205
Name: duracao_contrato, dtype: int64

Annual       40.2%
Quarterly    40.0%
Monthly      19.8%
Name: duracao_contrato, dtype: object

In [5]:
#Media Dos Contratos

agrupamento = tabela.groupby("duracao_contrato").mean(numeric_only=True)
display(agrupamento)

,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,
Annual,38.842165,31.446186,15.880213,3.263401,12.465156,651.697738,14.236107,0.460760
Monthly,41.552407,30.538555,15.499274,4.985649,15.007267,550.616435,15.478012,1.000000
Quarterly,38.830938,31.419916,15.886662,3.265245,12.460863,651.427783,14.234544,0.460255

In [6]:
#Motivo 1 :Todos Clientes do mensal cancelou

#Mostrando qual percentual de clientes que cancelo anual e trimestral

tabela = tabela[tabela["duracao_contrato"] != "Monthly"]
display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

0.0    381666
1.0    325788
Name: cancelou, dtype: int64

0.0    53.9%
1.0    46.1%
Name: cancelou, dtype: object

In [7]:
#Passo 5 : Analisar a causa de cancelamento

#Grafico analiar idade dos clientes
import plotly.express as px
#Cria Grafico
color_map = { 1.0: 'red', 0.0: 'blue'}
for coluna in tabela.columns:
    fig = px.histogram(tabela, x=coluna, color="cancelou",color_discrete_map=color_map) 
    #Exibir Grafico
    fig.show()

ModuleNotFoundError: No module named 'plotly'

In [ ]:
#Motivos de cancelamento
# Motivo 1 : Todos Clientes do mensal cancelou
# Motvo 2 : Apartir de 5 ligacoes ao cal center os clientes cancelou
# Motivo 3 : Apartir de 20 dias de atraso na fatura o clientes cancela

tabela = tabela[tabela["ligacoes_callcenter"] < 5]       
tabela = tabela[tabela["dias_atraso"] <= 5]
                   
display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True).map("{:.1%}".format))

#Com os problemas resolvido podemos sair de 56% de clientes cancelarem os nossos servicos para 18%

0.0    107896
1.0     24385
Name: cancelou, dtype: int64

0.0    81.6%
1.0    18.4%
Name: cancelou, dtype: object